# Checks that run once per day.
#
# These are generally expensive jobs that don't provide enough utility to run on _every_ PR.
name: nightly

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *" # Everyday at 06:00am UTC

permissions:
  contents: read

env:
  ROCKSDB_STATIC: true
  ROCKSDB_LIB_DIR: ${{ github.workspace }}/rocksdb-artifact
  ROCKSDB_COMPILE: false
  LZ4_LIB_DIR: ${{ github.workspace }}/rocksdb-artifact
  LZ4_STATIC: true
  LIBZ_SYS_STATIC: 1

jobs:
  rocksdb-static:
    uses: ./.github/workflows/rocksdb-static.yml
    with:
      runs-on: ubuntu-24.04
      checkout-ref: refs/heads/next

  # Run tests on the beta channel to provide feedback for Rust team.
  beta-test:
    name: test on beta channel
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    needs: rocksdb-static
    steps:
      - uses: actions/checkout@v6
        with:
          ref: 'next'
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - name: Install RocksDB
        uses: ./.github/actions/install-rocksdb
      - name: Download RocksDB static library
        uses: actions/download-artifact@v4
        with:
          name: rocksdb-static-${{ runner.arch }}
          path: rocksdb-artifact
      - name: Verify RocksDB static library
        run: bash .github/verify-rocksdb-static.sh
      - name: Rustup
        run: rustup install beta && rustup default beta
      - uses: taiki-e/install-action@v2
        with:
          tool: nextest@0.9.122
      - name: Run tests
        run: make test

  # Check all feature combinations work individually.
  #
  # This check is too expensive to run on every PR, both in terms of CPU and cache size.
  check-features:
    name: feature combinations
    runs-on: ubuntu-24.04
    needs: rocksdb-static
    steps:
      - uses: actions/checkout@v6
        with:
          ref: 'next'
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - name: Install RocksDB
        uses: ./.github/actions/install-rocksdb
      - name: Download RocksDB static library
        uses: actions/download-artifact@v4
        with:
          name: rocksdb-static-${{ runner.arch }}
          path: rocksdb-artifact
      - name: Verify RocksDB static library
        run: bash .github/verify-rocksdb-static.sh
      - name: Install rust
        run: rustup update --no-self-update
      - name: Install cargo-hack
        uses: taiki-e/install-action@cargo-hack
      - name: Check all feature combinations
        run: make check-features

  # Check that our MSRV complies with our specified rust version.
  msrv:
    name: msrv check
    runs-on: ubuntu-24.04
    needs: rocksdb-static
    steps:
      - uses: actions/checkout@v6
        with:
          ref: 'next'
      - name: check
        run: |
          export PATH="$HOME/.cargo/bin:$PATH"
          ./scripts/check-msrv.sh
